/* line 4, ../../../fuel/app/assets-compass/sass/docs.scss */
.wrapper {
  margin: 0 auto;
  width: 95%;
}

/* line 9, ../../../fuel/app/assets-compass/sass/docs.scss */
#header {
  overflow: hidden;
  *zoom: 1;
}
/* line 10, ../../../fuel/app/assets-compass/sass/docs.scss */
#header h1 {
  float: left;
}
/* line 14, ../../../fuel/app/assets-compass/sass/docs.scss */
#header ul {
  float: right;
  margin-top: 20px;
}

/* line 22, ../../../fuel/app/assets-compass/sass/docs.scss */
ul.nav-list {
  padding-bottom: 10px;
  border: solid 1px #dddddd;
}
/* line 26, ../../../fuel/app/assets-compass/sass/docs.scss */
ul.nav-list a.btn-primary {
  margin-left: 0;
  margin-right: 0;
  padding: 4px 12px;
  color: #fff;
}

/* line 33, ../../../fuel/app/assets-compass/sass/docs.scss */
ul.dropdown-menu {
  padding-top: 5px;
}

/* line 38, ../../../fuel/app/assets-compass/sass/docs.scss */
.docs-tooltip p {
  display: none;
}

/* line 43, ../../../fuel/app/assets-compass/sass/docs.scss */
h3 {
  border-bottom: 1px solid #e5e5e5;
  font-size: 21px;
  line-height: 40px;
  font-weight: normal;
  color: #333;
}

/* line 51, ../../../fuel/app/assets-compass/sass/docs.scss */
dl dt {
  line-height: 25px;
  font-size: 14px;
}
/* line 55, ../../../fuel/app/assets-compass/sass/docs.scss */
dl dd {
  line-height: 25px;
}
